
Notebooks/.ipynb_checkpoints/Latest-Student-Final-Project-Notebook-Avocados-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Original-Student-Final-Project-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Student-Final-Project-Notebook-Avacados-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Final-Project-Dataset-JM-checkpoint.ipynb
